@font-face{
    font-family: 'RobotoMono';
    src: url('../assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

body{
    background-color: #050514;
    background-image: url('../assets/imgs/veneno.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button{
    font-family: 'RobotoMono';
}
.container{
    font-family: 'RobotoMono';
    background-color: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(255,255,255,1) 100%);
    max-width: 400px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
}
.header{
    border-bottom: 1px solid black;

}

.titulo{
    text-align: center;
}